.about {
  position: relative;
  margin: 0 auto 0 0;
  padding: 0 120px 0 0;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 840px;
    height: 280px;
    background-size: 840px 280px;
    background-image: url("../img/background/about/clouds.png");
  }

  @include vp-1199 {
    padding: 0 45px 0 0;

    &::after {
      display: none;
    }
  }

  @include vp-767 {
    padding: 0;
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: 615px 1fr;
  padding: 95px 0 40px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    padding: 72px 0 74px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 6px 0 61px;
  }
}

.about__image img {
  position: absolute;
  top: 95px;
  left: 0;
  width: 808px;
  height: 474px;
  object-fit: cover;
  z-index: 1;

  @include vp-1199 {
    top: 78px;
    left: -210px;
    width: 685px;
    height: 402px;
  }

  @include vp-767 {
    top: 0;
    left: 0;
    width: 320px;
  }
}

.about__content {
  padding: 35px 0 66px 120px;
  z-index: 2;

  @include vp-1199 {
    padding: 0 0 0 38px;
  }

  @include vp-767 {
    padding: 449px 15px 0;
  }
}

.about__content h2 {
  position: relative;
  margin: 0 0 56px;
  color: $color-granite;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    margin: 0 0 35px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin: 0 0 33px;
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    content: "О нас";
    color: $color-granite-opacity3;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about__item:first-child {
  margin: 0 0 30px;

  @include vp-767 {
    margin: 0 0 44px;
  }
}

.about__item h3 {
  margin: 0 0 17px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    margin: 0 0 14px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    margin: 0 0 16px;
    font-size: 16px;
    line-height: 16px;
  }
}

.about__item p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include vp-767 {
    line-height: 20px;
  }
}
