.advantages {
  position: relative;
  margin: 0 auto;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 788px;
    height: 263px;
    background-size: 788px 263px;
    background-image: image-set(url("../img/background/advantages/clouds-right@2x.webp") type("image/webp") 2x,
        url("../img/background/advantages/clouds-right.webp") type("image/webp") 1x,
        url("../img/background/advantages/clouds-right@2x.png") 2x,
        url("../img/background/advantages/clouds-right.png") 1x);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1170px;
    height: 391px;
    background-size: 1170px 391px;
    background-image: image-set(url("../img/background/advantages/clouds-left@2x.webp") type("image/webp") 2x,
        url("../img/background/advantages/clouds-left.webp") type("image/webp") 1x,
        url("../img/background/advantages/clouds-left@2x.png") 2x,
        url("../img/background/advantages/clouds-left.png") 1x);
  }

  @include vp-1199 {
    padding: 0 45px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.advantages__wrapper {
  padding: 122px 0 129px;

  @include vp-1199 {
    padding: 73px 0 38px;
  }

  @include vp-767 {
    padding: 30px 0 15px;
  }
}

.advantages__wrapper h2 {
  position: relative;
  margin: 0 0 46px;
  color: $color-granite;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin: 0 0 29px;
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    content: "Преимущества";
    bottom: 70%;
    right: 50%;
    transform: translate(50%, 50%);
    color: $color-granite-opacity3;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.advantages__swiper {
  margin: 0 0 50px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @include vp-767 {
    gap: 15px;
  }
}

.advantages__buttons {
  justify-content: center;

  @include vp-1199 {
    display: none;
  }
}
