.advantages {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.advantages__wrapper h2 {
  position: relative;
  margin: 0;
  color: $color-granite;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    content: "Преимущества";
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    color: $color-granite-opacity3;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.advantages-card {
  @include vp-1199 {
    flex-basis: calc(50% - 15px);
    border: 1px solid $color-bright-blue-opacity10;
  }

  @include vp-767 {
    flex-basis: 100%;
  }
}

.advantages__buttons {
  justify-content: center;

  @include vp-1199 {
    display: none;
  }
}
