.btn {
  display: inline-block;
  padding: 21px;
  width: 220px;
  color: $color-default-white;
  user-select: none;
  background-color: $color-bright-blue;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
