.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 585px;
  gap: 0 132px;
  padding: 84px 0 104px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding: 93px 0 70px;
    gap: 40px;
  }

  @include vp-767 {
    padding: 67px 0 30px;
    gap: 30px;
  }
}

.contacts__content h3 {
  position: relative;
  margin: 0 0 22px;
  color: $color-granite;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    margin: 0 0 17px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin: 0 0 11px;
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    content: "Контакты";
    min-width: 100%;
    color: $color-granite-opacity3;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    @include vp-1199 {
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.contacts__content p {
  margin: 0 0 49px;

  @include vp-1199 {
    max-width: 490px;
    margin: 0 0 40px;
  }

  @include vp-767 {
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 20px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 35px 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    flex-direction: row;
    gap: 20px 44px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 30px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 30px;

  @include vp-1199 {
    align-items: flex-start;
    gap: 10px;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.contacts__item-icon svg {
  @include vp-1199 {
    width: 24px;
    height: 24px;
  }

  @include vp-767 {
    width: 22px;
    height: 22px;
  }
}

.contacts__item h4 {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include vp-1199 {
    margin: 0 0 4px;
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-767 {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 14px;
  }
}

.contacts__item span {
  display: flex;
  flex-direction: column;
  margin: 0;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    max-width: 160px;
    line-height: 20px;
  }
}

.contacts__item a {
  color: $color-default-project;

  @include hover-focus {
    color: $color-midnight-blue;
  }

  @include focus;

  @include active {
    color: $color-bright-blue;
  }

  @include disabled {
    color: $color-white-opacity10;
  }
}

.contacts__map {
  margin: 75px 0 0;
  width: 100%;
  min-height: 324px;
  height: auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  box-sizing: border-box;

  background-image: url("../img/background/map/map.png");


  @include vp-1199 {
    margin: 0;
    min-height: 340px;

    background-image: url("../img/background/map/map-tablet.png");
  }

  @include vp-767 {
    min-height: 320px;

    background-image: url("../img/background/map/map-mobile.png");
  }
}
