.education-process h3 {
  margin: 0 0 40px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    margin: 0 0 23px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    margin: 0 0 18px 4px;
    font-size: 16px;
    line-height: 16px;
  }
}

.education-process__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 55px 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0 37px;
  }
}

.education-process__item {
  position: relative;
  display: grid;
  grid-template-columns: 25px auto;
  gap: 0 10px;
  padding: 0 0 35px;

  @include vp-1199 {
    gap: 0 15px;
    padding: 18px 0;
  }

  @include vp-767 {
    gap: 0 6px;
    padding: 12px 0;
  }

  // синий круг
  &::before {
    content: "";
    position: absolute;
    bottom: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-bright-blue;
  }

  // синяя линия на планшете
  @include vp-1199 {
    &:nth-child(1) {
      // синяя линия
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% + 30px);
        height: 1px;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(3n) {
      grid-column: 2/3;
      grid-row: 2/3;
      // синий круг
      &::before {
        content: "";
        position: absolute;
        top: -7px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $color-bright-blue;
      }
      // синяя линия
      &::after {
        content: "";
        position: absolute;
        top: -50px;
        left: 7px;
        width: 1px;
        height: 50px;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(4n) {
      // синий круг
      &::before {
        content: "";
        position: absolute;
        top: -7px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $color-bright-blue;
      }
      // синяя линия
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 30px);
        height: 1px;
        background-color: $color-bright-blue;
      }
    }
  }

  @include vp-767 {
    &:nth-child(1n) {
      // синий круг
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -34px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $color-bright-blue;
      }

      // синяя линия
      &::after {
        @include vp-767 {
          content: "";
          position: absolute;
          left: -27px;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: $color-bright-blue;
        }
      }
    }

    &:first-child {
      &::after {
        height: 50%;
        top: 50%;
      }
    }

    &:last-child {
      &::after {
        height: 50%;
        top: 0;
      }
    }
  }
}

.education-process__item svg {
  align-self: center;

  @include vp-767 {
    width: 19px;
    height: 19px;
  }
}

.education-process__item h4 {
  margin: 0;

  @include vp-1199 {
    max-width: 220px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}
