.education-process h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.education-process__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 37px;
  }

  // синяя линия на мобилке
  &::after {
    @include vp-767 {
      content: "";
      position: absolute;
      top: 10%;
      left: 10px;
      width: 1px;
      height: 80%;
      background-color: $color-bright-blue;
    }
  }
}

.education-process__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 15px;
  padding: 32px 0;

  // синяя линия на планшете
  @include vp-1199 {
    &:nth-child(3n + 1) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 110%;
        height: 1px;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(4n + 2) {
      &::after {
        content: "";
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(3n) {
      grid-column: 2/3;
    }

    &:nth-child(4n) {
      grid-row: 2/3;
    }
  }

  @include vp-767 {
    &::after {
      display: none;
    }
  }

  // синий круг
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-bright-blue;

    @include vp-767 {
      bottom: 50%;
      left: -34px;
      transform: translateY(50%);
    }
  }
}

.education-process__item h4 {
  margin: 0;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}
