.education-process h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.education-process__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 0 37px;
  }
}

.education-process__item {
  position: relative;
  display: grid;
  grid-template-columns: 25px auto;
  gap: 0 15px;
  padding: 32px 0;
  // синий круг
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-bright-blue;

    @include vp-767 {
      bottom: 50%;
      left: -34px;
      transform: translateY(50%);
    }
  }

  // синяя линия на планшете
  @include vp-1199 {
    &:nth-child(1) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(4n) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(6n) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100%;
        width: 100%;
        height: 1px;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(3) {
      grid-column: 2/3;
      grid-row: 2/3;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(5) {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $color-bright-blue;
      }
    }

    &:nth-child(7) {
      grid-column: 2/3;
      grid-row: 4/5;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $color-bright-blue;
      }
    }
  }

  @include vp-767 {
    // синяя линия
    &:nth-child(1n) {
      &::after {
        @include vp-767 {
          content: "";
          position: absolute;
          bottom: 0;
          left: -30px;
          width: 1px;
          height: 100%;
          background-color: $color-bright-blue;
        }
      }
    }

    &:first-child {
      &::after {
       height: 50%;
      }
    }

    &:last-child {
      &::after {
       height: 50%;
       top: 0;
      }
    }
  }
}

.education-process__item svg {
  align-self: center;
}

.education-process__item h4 {
  margin: 0;

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}
