.education {
  position: relative;

  // синяя линия на десктоп
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-bright-blue;

    @include vp-1199 {
      display: none;
    }
  }
}

.education__wrapper h2 {
  position: relative;
  margin: 0 0 35px;
  color: $color-granite;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    margin: 0 0 20px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin: 0 0 16px;
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    content: "Обучение";
    min-width: 1200px;
    color: $color-granite-opacity3;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    @include vp-1199 {
      min-width: 678px;
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      min-width: 290px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.education__wrapper p {
  margin: 0 0 49px;
  max-width: 820px;

  @include vp-1199 {
    margin: 0 0 57px;
    max-width: 560px;
  }

  @include vp-767 {
    margin: 0 0 39px;
    font-size: 14px;
    line-height: 20px;
  }
}
