.footer__wrapper {
  padding: 30px 0 0;

  @include vp-1199 {
    padding: 38px 0 0;
  }

  @include vp-767 {
    padding: 0 5px;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $color-default-project;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;

  @include vp-767 {
    justify-content: flex-start;
  }

  @include hover-focus {
    color: $color-midnight-blue;
  }

  @include focus;

  @include active {
    color: $color-bright-blue;
  }

  @include disabled {
    color: $color-white-opacity10;
  }
}
