.form {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-brown;
  color: $color-default-white;
  text-align: center;
  background-image: url("../img/background/form/forest.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/form/forest@2x.jpg");
  }

  @include vp-1199 {
    background-image: url("../img/background/form/forest-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/form/forest-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/background/form/forest-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/form/forest-mobile@2x.jpg");
    }
  }
}

.form__wrapper {
  margin: 0 auto;
  padding: 308px 231px 307px;
  width: 100%;
  max-width: 1440px;

  @include vp-1199 {
    padding: 192px 236px 183px;
  }

  @include vp-767 {
    padding: 180px 15px 175px;
  }
}

.form__text {
  margin: 0 0 40px;

  @include vp-1199 {
    margin: 0 0 30px;
  }

  @include vp-767 {
    margin: 0 0 26px;
  }
}

.form__text h2 {
  margin: 4px 0 18px -18px;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    margin: 2px 0 19px;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin: 0 0 14px;
    font-size: 22px;
    line-height: 22px;
  }
}

.form__text p {
  margin: 0 0 0 -20px;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}

.form__wrapper form {
  display: grid;
  grid-template-columns: 1fr 238px;
  gap: 0 30px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 15px 0;
    padding: 0 15px;
  }

  @include vp-767 {
    gap: 9px 0;
    padding: 0;
  }
}

.form__control button {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  width: 100%;

  @include vp-1199 {
    padding: 21px 0;
  }

  @include vp-767 {
    padding: 17px 0;
  }
}
