.gallery-card {
  display: flex;
  gap: 0 5px;

  @include vp-767 {
    gap: 0 3px;
  }
}

.gallery-card__image {
  background-color: $color-dark-blue;
}

.gallery-card__image--secondory {
  display: flex;
  flex-direction: column;
  gap: 5px 0;

  @include vp-767 {
    gap: 3px 0;
  }
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-card--secondory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
