.input-text {
  margin: 0;
  padding: 0;
  border: 0;
}

.input-text__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 9px 0;
  }
}

.input-text__item input {
  padding: 22px 30px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  @include vp-1199 {
    padding: 15px;
    font-size: 14px;
    line-height: 14px;
  }

  @include hover {
    border: 1px solid $color-bright-blue;

    &::-webkit-input-placeholder {
      color: $color-bright-blue;
    }
  }

  @include active-focus {
    border: 1px solid $color-midnight-blue;

    &::-webkit-input-placeholder {
      color: transparent;
    }
  }

  @include focus;

  @include disabled {
    border: 1px solid transparent;
  }
}

.input-text__item.is-invalid input {
  border: 1px solid $color-red;
}
