.instructors {
  margin: 0 0 50px;
}

.instructors__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 35px;
}

.instructors__header h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.instructors__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
