.intro {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $color-default-white;
  background-color: #0084ff;
  text-align: center;

  &--сaucasus {
    background-image: url("../img/background/caucasus-desktop.jpg");
  }

  &--kamchatka {
    background-image: url("../img/background/kamchatka-desktop.jpg");
  }

  &--altai {
    background-image: url("../img/background/altai-desktop.jpg");
  }

  // @media (min-resolution: 2dppx) {
  //   background-image: url("../img/back-index-mobile@2x.jpg");
  // }

  // @media (min-width: @tablet-width) {
  //   background-image: url("../img/back-index-tablet.jpg");
  //   padding: 78px 0 86px 0;

  //   @media (min-resolution: 2dppx) {
  //     background-image: url("../img/back-index-tablet@2x.jpg");
  //   }
  // }
}

.intro__wrapper {
  padding: 40px 0 80px;

  @include vp-1199 {
    padding: 30px 0 90px;
  }

  @include vp-767 {
    padding: 15px 0 40px;
  }
}

// при нажатии на кнопку навигации

.intro--opened {
  background-color: $color-default-white;

  & .intro-header {
    padding: 0 0 346px;
  }

  & .intro-header__link {
    color: $color-default-project;
  }
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
