.intro-video {
  position: absolute;
  top: 0;
  right: 0;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    display: none;
  }
}

.intro-video__wrapper {
  position: relative;
  width: 482px;
  height: 317px;
  background-color: $color-dark-blue;

  @include vp-1199 {
    margin: 0 auto;
    width: 442px;
    height: 300px;
  }
}

.description__video-player {
  width: 100%;
  height: 100%;
}

.intro-video__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-video__wrapper button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 56px;
  height: 56px;
  background-color: $color-white-opacity20;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 16px solid $color-default-white;
    border-bottom: 8px solid transparent;
  }

  @include hover-focus {
    background-color: transparent;
    border: 1px solid $color-midnight-blue;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 16px solid $color-default-black;
      border-bottom: 8px solid transparent;
    }

    &::before {
      border-top: 7px solid transparent;
      border-left: 14px solid $color-default-white;
      border-bottom: 7px solid transparent;
      z-index: 3;
    }
  }

  @include focus;

  @include active {
    background-color: $color-midnight-blue;
    border: 1px solid $color-midnight-blue;
  }

  @include disabled {
    background-color: transparent;
    border: 1px solid $color-bright-blue-opacity10;

    &::before {
      border-top: 8px solid transparent;
      border-left: 16px solid $color-bright-blue-opacity10;
      border-bottom: 8px solid transparent;
    }
  }
}
