.intro-header {
  width: 100%;
}

.intro-header--opened {
  position: absolute;
  height: 100%;

  .intro-header__link {
    color: $color-default-project;
    z-index: 3;

    @include hover-focus {
      color: $color-midnight-blue;
    }

    @include focus;

    @include active {
      color: $color-bright-blue;
    }

    @include disabled {
      color: $color-white-opacity10;
    }
  }
}

.intro-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 3px;
  margin: 0 auto;
  padding: 37px 120px 0;
  max-width: 1440px;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 45px 0;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 0;
    padding: 15px 15px 0;
  }
}

.intro-header__logo {
  @include vp-1199 {
    z-index: 4;
  }

  @include vp-767 {
    display: flex;
    justify-content: flex-end;
  }
}

.intro-header__logo svg {
  @include vp-1199 {
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

// контейнер ссылки
.intro-header__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 142px;
  max-width: 160px;

  @include vp-1199 {
    justify-self: end;
    align-items: flex-end;
  }

  @include vp-767 {
    grid-column: 2/3;
  }
}

.intro-header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
  }

  @include hover-focus {
    color: $color-midnight-blue;
  }

  @include focus;

  @include active {
    color: $color-bright-blue;
  }

  @include disabled {
    color: $color-white-opacity10;
  }
}
