.intro-video {
  position: absolute;
  top: 0;
  right: 0;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    display: none;
  }
}

.intro-video__wrapper {
  position: relative;
  width: 482px;
  height: 317px;

  @include vp-1199 {
    margin: 0 auto;
    width: 442px;
    height: 300px;
  }
}

.description__video-player {
  width: 100%;
  height: 100%;
}

.intro-video__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-video__wrapper button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 56px;
  height: 56px;
  background-color: $color-white-opacity20;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 16px solid #ffffff;
    border-bottom: 8px solid transparent;
  }
}
