.intro-audio {
  position: absolute;
  top: 118px;
  right: 0;

  @include vp-1199 {
    position: static;
  }

  @include vp-767 {
    display: none;
  }
}

.intro-audio__container {
  width: 340px;
  height: 220px;
  color: $color-midnight-blue;
  background-color: $color-periwinkle-crayola-opacity90;

  @include vp-1199 {
    margin: 70px auto 0;
  }
}

.intro-audio__wrapper {
  padding: 40px;
}

.description__audio-player {
  width: 100%;
  height: 100%;
}

// Название треки и поделиться

.intro-audio__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 11px;
}

.intro-audio__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-audio__info h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}

.intro-audio__info p {
  margin: 0;
  font-size: 14px;
}

.intro-audio__icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro-audio__icon svg {
  fill: $color-midnight-blue;
}

// Линия проигрывателя и время

.intro-audio__progress {
  margin: 0 0 10px;
}

.intro-audio__scale {
  position: relative;
  height: 2px;
  background-color: $color-midnight-blue-opacity40;
  border-radius: 4px;
  width: 100%;
}

.intro-audio__bar {
  position: absolute;
  height: 2px;
  background-color: $color-midnight-blue;
  border-radius: 4px;
}

.intro-audio__toggle {
  position: absolute;
  top: -50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 11px;
  cursor: pointer;
  background-color: $color-midnight-blue;
  border-radius: 50%;
  border: none;
}

.intro-audio__timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-audio__timeline span {
  font-size: 10px;
}

// Кнопки управления прогирывателя

.intro-audio__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-audio__controls-play {
  display: flex;
  align-items: center;
  gap: 0 15px;
}

.intro-audio__controls-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.intro-audio__controls-button svg {
  fill: $color-midnight-blue;
}
