.intro-main {
  position: relative;
}

.intro-main__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;

  @include vp-1199 {
    align-items: center;
    text-align: center;
  }
}

.intro-main__text h2 {
  margin: 0 0 25px;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;

  @include vp-1199 {
    margin: 0 0 15px;
    font-size: 56px;
    line-height: 56px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 30px;
  }
}

.intro-main__text p {
  margin: 0 0 35px;
  max-width: 464px;
  font-size: 17px;

  @include vp-1199 {
    margin: 0 0 25px;
  }

  @include vp-767 {
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 20px;
  }
}

.intro-main__text a {
  min-width: 220px;

  @include vp-1199 {
    min-width: 206px;
  }

  @include vp-1199 {
    min-width: 180px;
  }
}

.intro-main__details {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    display: none;
  }
}

.intro-main__details-item {
  display: flex;
  align-items: center;
  gap: 0 8px;
  padding: 14px 20px;
  border: 1px solid $color-white-opacity50;
}

.intro-main__details-item svg {
  fill: $color-default-white;
}
