.intro {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-brown;
  color: $color-default-white;
  text-align: center;

  &--caucasus {
    background-image: image-set(url("../img/background/intro/caucasus@2x.webp") type("image/webp") 2x,
        url("../img/background/intro/caucasus@1x.webp") type("image/webp") 1x,
        url("../img/background/intro/caucasus@2x.jpg") 2x,
        url("../img/background/intro/caucasus@1x.jpg") 1x);

    @include vp-1199 {
      background-image: image-set(url("../img/background/intro/caucasus-tablet@2x.webp") type("image/webp") 2x,
          url("../img/background/intro/caucasus-tablet@1x.webp") type("image/webp") 1x,
          url("../img/background/intro/caucasus-tablet@2x.jpg") 2x,
          url("../img/background/intro/caucasus-tablet@1x.jpg") 1x);
    }

    @include vp-767 {
      background-image: image-set(url("../img/background/intro/caucasus-mobile@2x.webp") type("image/webp") 2x,
          url("../img/background/intro/caucasus-mobile@1x.webp") type("image/webp") 1x,
          url("../img/background/intro/caucasus-mobile@2x.jpg") 2x,
          url("../img/background/intro/caucasus-mobile@1x.jpg") 1x);
    }
  }

  &--kamchatka {
    background-image: image-set(url("../img/background/intro/kamchatka@2x.webp") type("image/webp") 2x,
        url("../img/background/intro/kamchatka@1x.webp") type("image/webp") 1x,
        url("../img/background/intro/kamchatka@2x.jpg") 2x,
        url("../img/background/intro/kamchatka@1x.jpg") 1x);

    @include vp-1199 {
      background-image: image-set(url("../img/background/intro/kamchatka-tablet@2x.webp") type("image/webp") 2x,
          url("../img/background/intro/kamchatka-tablet@1x.webp") type("image/webp") 1x,
          url("../img/background/intro/kamchatka-tablet@2x.jpg") 2x,
          url("../img/background/intro/kamchatka-tablet@1x.jpg") 1x);
    }

    @include vp-767 {
      background-image: image-set(url("../img/background/intro/kamchatka-mobile@2x.webp") type("image/webp") 2x,
          url("../img/background/intro/kamchatka-mobile@1x.webp") type("image/webp") 1x,
          url("../img/background/intro/kamchatka-mobile@2x.jpg") 2x,
          url("../img/background/intro/kamchatka-mobile@1x.jpg") 1x);
    }
  }

  &--altai {
    background-image: image-set(url("../img/background/intro/altai@2x.webp") type("image/webp") 2x,
        url("../img/background/intro/altai@1x.webp") type("image/webp") 1x,
        url("../img/background/intro/altai@2x.jpg") 2x,
        url("../img/background/intro/altai@1x.jpg") 1x);

    @include vp-1199 {
      background-image: image-set(url("../img/background/intro/altaii-tablet@2x.webp") type("image/webp") 2x,
          url("../img/background/intro/altaii-tablet@1x.webp") type("image/webp") 1x,
          url("../img/background/intro/altaii-tablet@2x.jpg") 2x,
          url("../img/background/intro/altaii-tablet@1x.jpg") 1x);
    }

    @include vp-767 {
      background-image: image-set(url("../img/background/intro/altai-mobile@2x.webp") type("image/webp") 2x,
          url("../img/background/intro/altai-mobile@1x.webp") type("image/webp") 1x,
          url("../img/background/intro/altai-mobile@2x.jpg") 2x,
          url("../img/background/intro/altai-mobile@1x.jpg") 1x);
    }
  }
}

.intro__wrapper {
  padding: 183px 0 82px;

  @include vp-1199 {
    padding: 174px 0 92px;
  }

  @include vp-767 {
    padding: 139px 0 40px;
  }
}

.intro__swiper {
  position: relative;

  @include vp-1199 {
    padding: 0 0 60px;
  }

  @include vp-767 {
    padding: 0 0 103px;
  }
}

.intro__swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;

  @include vp-1199 {
    justify-content: center;
    gap: 7px;
  }

  @include vp-767 {
    gap: 3px;
  }
}

.intro__swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  opacity: 1;
}

.intro__swiper .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
