.logo {
  cursor: pointer;

  & svg {
    fill: $color-default-white;
  }

  @include hover-focus {
    & svg {
      fill: $color-midnight-blue;
    }
  }

  @include focus;

  @include active {
    & svg {
      fill: $color-bright-blue;
    }
  }

  @include disabled {
    & svg {
      fill: $color-white-opacity10;
    }
  }
}

.logo--dark {
  & svg {
    fill: $color-default-project;
  }
}
