.reviews-card {
  display: flex;
  gap: 0 30px;
  padding: 20px 40px 20px 20px;
  height: auto;
  box-shadow: 0 0 30px $color-midnight-blue-opacity10;

  @include vp-1199 {
    padding: 20px 30px 20px 20px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 20px 20px 18px;
  }
}

.reviews-card__image {
  background-color: $color-dark-blue;
  align-self: flex-start;
  min-width: 258px;
  min-height: 253px;
  aspect-ratio: 258/253;

  @include vp-1199 {
    min-width: 186px;
    min-height: 237px;
    aspect-ratio: 186/237;
  }

  @include vp-767 {
    align-self: center;
    margin: 0 0 17px;
    min-width: 100%;
    min-height: 169px;
    aspect-ratio: 250/169;
  }
}

.reviews-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px 0;
  padding: 15px 0 10px;

  @include vp-1199 {
    padding: 2px 0 0;
  }

  @include vp-767 {
    gap: 15px 0;
  }
}

.reviews-card__text {
  min-height: 164px;

  @include vp-1199 {
    min-height: 172px;
  }

  @include vp-767 {
    min-height: 0;
  }
}

.reviews-card__text p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
  }
}

.reviews-card__text p:first-child {
  margin: 0 0 10px;
}

.reviews-card__name h3 {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  @include vp-1199 {
    font-size: 12px;
  }

  @include vp-767 {
    line-height: 12px;
  }
}

.reviews-card__name span {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}
