.reviews__wrapper {
  margin: 0 auto;
  padding: 0 0 0 120px;
  width: 100%;
  max-width: 1440px;

  @include vp-1199 {
    padding: 0 0 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px;
  padding: 0 120px 0 0;

  @include vp-1199 {
    padding: 0 45px 0 0;
    margin: 0 0 33px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.reviews__header h2 {
  position: relative;
  margin: 15px 0 -15px;
  color: $color-granite;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    content: "Отзывы";
    min-width: 1200px;
    color: $color-granite-opacity3;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    @include vp-1199 {
      min-width: 678px;
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      min-width: 290px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
