.site-list {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0 31px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__link {
  padding: 3px 5px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 16px;

  // при открытии меню
  @include vp-1199 {
    position: relative;
    display: block;
    color: $color-default-project;
    letter-spacing: 0.64px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  @include hover {
    border-bottom: 1px solid $color-default-white;

    @include vp-1199 {
      border-bottom: 1px solid $color-default-project;
    }
  }

  @include focus-visible {
    border: 1px solid $color-default-white;

    @include vp-1199 {
      border: 1px solid $color-default-project;
    }
  }

  @include focus;

  @include disabled {
    color: $color-white-opacity50;

    @include vp-1199 {
      color: $color-black-opacity50;
    }
  }
}
