.site-list {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// навигация при нажатии бургера
.main-nav--opened .site-list {
  @include vp-1199 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px 0;
    padding: 121px 40px 70px;
    max-width: 100%;
    width: 100%;
    background-color: $color-default-white;
  }

  @include vp-767 {
    gap: 14px 0;
    padding: 95px 10px 50px;
  }
}

.site-list__link {
  padding: 3px 5px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 16px;

  // при открытии меню
  @include vp-1199 {
    position: relative;
    display: block;
    color: $color-default-project;
    letter-spacing: 0.64px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  @include hover {
    border-bottom: 1px solid $color-default-white;

    @include vp-1199 {
      border-bottom: 1px solid $color-default-project;
    }
  }

  @include focus-visible {
    border: 1px solid $color-default-white;

    @include vp-1199 {
      border: 1px solid $color-default-project;
    }
  }

  @include focus;

  @include disabled {
    color: $color-white-opacity50;

    @include vp-1199 {
      color: $color-black-opacity50;
    }
  }
}
