.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;

  @include vp-767 {
    justify-content: flex-start;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid $color-icon-border;
}

.social__link svg {
  fill: $color-default-project;
}
