.swiper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 4px;
}

.swiper-buttons__button {
  position: relative;
  width: 37px;
  height: 35px;
  background-color: $color-bright-blue;
  border: 1px solid transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 1px;
    background-color: $color-default-white;
  }

  @include hover-focus {
    background-color: $color-default-white;
    border: 1px solid $color-midnight-blue;

    &::before {
      background-color: $color-midnight-blue;
    }

    .swiper-buttons__arrow {
      border-top: 1px solid $color-midnight-blue;
      border-right: 1px solid $color-midnight-blue;
    }
  }

  @include focus;

  @include active {
    background-color: $color-midnight-blue;

    &::before {
      background-color: $color-default-white;
    }

    .swiper-buttons__arrow {
      border-top: 1px solid $color-default-white;
      border-right: 1px solid $color-default-white;
    }
  }

  @include disabled {
    background-color: $color-bright-blue-opacity10;
    border: 1px solid transparent;
    cursor: not-allowed;

    &::before {
      background-color: $color-default-white;
    }

    .swiper-buttons__arrow {
      border-top: 1px solid $color-default-white;
      border-right: 1px solid $color-default-white;
      cursor: not-allowed;
    }
  }
}

.swiper-buttons__arrow {
  position: absolute;
  top: 14.5px;
  display: inline-flex;
  width: 5px;
  height: 5px;
  cursor: pointer;
  border-top: 1px solid $color-default-white;
  border-right: 1px solid $color-default-white;

  &--prev {
    left: 11px;
    transform: rotate(-135deg);
  }

  &--next {
    right: 11px;
    transform: rotate(45deg);
  }
}
