.tour-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-dark-blue;
  color: $color-default-white;

  &--elbrus {
    background-image: image-set(url("../img/background/tours/elbrus@2x.webp") type("image/webp") 2x,
        url("../img/background/tours/elbrus.webp") type("image/webp") 1x,
        url("../img/background/tours/elbrus@2x.jpg") 2x,
        url("../img/background/tours/elbrus.jpg") 1x);

    @include vp-1199 {
      background-image: image-set(url("../img/background/tours/elbrus-tablet@2x.webp") type("image/webp") 2x,
          url("../img/background/tours/elbrus-tablet.webp") type("image/webp") 1x,
          url("../img/background/tours/elbrus-tablet@2x.jpg") 2x,
          url("../img/background/tours/elbrus-tablet.jpg") 1x);
    }

    @include vp-767 {
      background-image: image-set(url("../img/background/tours/elbrus-mobile@2x.webp") type("image/webp") 2x,
          url("../img/background/tours/elbrus-mobile.webp") type("image/webp") 1x,
          url("../img/background/tours/elbrus-mobile@2x.jpg") 2x,
          url("../img/background/tours/elbrus-mobile.jpg") 1x);
    }
  }

  &--beluha {
    background-image: image-set(url("../img/background/tours/beluha@2x.webp") type("image/webp") 2x,
        url("../img/background/tours/beluha.webp") type("image/webp") 1x,
        url("../img/background/tours/beluha@2x.jpg") 2x,
        url("../img/background/tours/beluha.jpg") 1x);

    @include vp-1199 {
      background-image: image-set(url("../img/background/tours/beluha-tablet@2x.webp") type("image/webp") 2x,
          url("../img/background/tours/beluha-tablet.webp") type("image/webp") 1x,
          url("../img/background/tours/beluha-tablet@2x.jpg") 2x,
          url("../img/background/tours/beluha-tablet.jpg") 1x);
    }

    @include vp-767 {
      background-image: image-set(url("../img/background/tours/beluha-mobile@2x.webp") type("image/webp") 2x,
          url("../img/background/tours/beluha-mobile.webp") type("image/webp") 1x,
          url("../img/background/tours/beluha-mobile@2x.jpg") 2x,
          url("../img/background/tours/beluha-mobile.jpg") 1x);
    }
  }

  &--fisht {
    background-image: image-set(url("../img/background/tours/fisht@2x.webp") type("image/webp") 2x,
        url("../img/background/tours/fisht.webp") type("image/webp") 1x,
        url("../img/background/tours/fisht@2x.jpg") 2x,
        url("../img/background/tours/fisht.jpg") 1x);

    @include vp-1199 {
      background-image: image-set(url("../img/background/tours/fisht-tablet@2x.webp") type("image/webp") 2x,
          url("../img/background/tours/fisht-tablet.webp") type("image/webp") 1x,
          url("../img/background/tours/fisht-tablet@2x.jpg") 2x,
          url("../img/background/tours/fisht-tablet.jpg") 1x);
    }

    @include vp-767 {
      background-image: image-set(url("../img/background/tours/fisht-mobile@2x.webp") type("image/webp") 2x,
          url("../img/background/tours/fisht-mobile.webp") type("image/webp") 1x,
          url("../img/background/tours/fisht-mobile@2x.jpg") 2x,
          url("../img/background/tours/fisht-mobile.jpg") 1x);
    }
  }
}

.tour-card__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 23px 25px 23px 20px;
  width: 100%;
  height: 412px;

  @include vp-1199 {
    padding: 23px 22px 23px 20px;
  }
}

.tour-card__link h3 {
  margin: 0 0 37px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    margin: 0 0 30px;
  }
}

.tour-card__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tour-card__row:first-child {
  margin: 0 0 23px;

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr 70px;
    gap: 15px;
    margin: 0 0 15px;
  }
}

.tour-card__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @include vp-1199 {
    gap: 12px;
  }

  &--name {
    justify-content: flex-start;
    gap: 8px;
    padding: 8px 0 9px 24px;
    width: 108px;
    background-color: $color-bright-blue;

    @include vp-1199 {
      gap: 6px;
      padding: 8px 0 8px 15px;
      width: 97px;
    }

    @include vp-767 {
      grid-column: 1/4;
      grid-row: 2/3;
    }
  }
}

.tour-card__icon svg {
  fill: $color-default-white;
}

.tour-card__icon span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tour-card__info h4 {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.tour-card__info p {
  margin: 8px 0 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }

  @include vp-767 {
    margin: 6px 0 5px;
  }
}
