.tour-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-dark-blue;
  color: $color-default-white;

  &--elbrus {
    background-image: url("../img/background/tours/elbrus.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/tours/elbrus@2x.jpg");
    }

    @include vp-1199 {
      background-image: url("../img/background/tours/elbrus-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/tours/elbrus-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/background/tours/elbrus-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/tours/elbrus-mobile@2x.jpg");
      }
    }
  }

  &--beluha {
    background-image: url("../img/background/tours/beluha.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/tours/beluha@2x.jpg");
    }

    @include vp-1199 {
      background-image: url("../img/background/tours/beluha-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/tours/beluha-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/background/tours/beluha-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/tours/beluha-mobile@2x.jpg");
      }
    }
  }

  &--fisht {
    background-image: url("../img/background/tours/fisht.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/tours/fisht@2x.jpg");
    }

    @include vp-1199 {
      background-image: url("../img/background/tours/fisht-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/tours/fisht-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/background/tours/fisht-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/tours/fisht-mobile@2x.jpg");
      }
    }
  }
}

.tour-card__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 28px 20px;
  width: 100%;
  height: 412px;
}

.tour-card__link h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
  }
}

.tour-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tour-card__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--name {
    justify-content: flex-start;
    gap: 8px;
    padding: 8px 0 9px 24px;
    width: 108px;
    background-color: $color-bright-blue;
  }
}

.tour-card__icon svg {
  fill: $color-default-white;
}

.tour-card__icon span {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.tour-card__info h4 {
  margin: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.tour-card__info p {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}
