.tours {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    width: 602px;
    height: 1364px;
    background-size: 602px 1364px;
    background-image: image-set(url("../img/background/tours/clouds-big@2x.webp") type("image/webp") 2x,
        url("../img/background/tours/clouds-big.webp") type("image/webp") 1x,
        url("../img/background/tours/clouds-big@2x.png") 2x,
        url("../img/background/tours/clouds-big.png") 1x);
  }

  @include vp-767 {
    &::before {
      content: "";
      position: absolute;
      top: 90px;
      right: -50px;
      width: 346px;
      height: 595px;
      background-size: 346px 595px;
      background-image: image-set(url("../img/background/tours/clouds-big-mobile@2x.webp") type("image/webp") 2x,
          url("../img/background/tours/clouds-big-mobile.webp") type("image/webp") 1x,
          url("../img/background/tours/clouds-big-mobile@2x.png") 2x,
          url("../img/background/tours/clouds-big-mobile.png") 1x);
    }
  }
}

.tours__wrapper {
  padding: 123px 0;

  @include vp-1199 {
    padding: 84px 0 87px;
  }

  @include vp-767 {
    padding: 62px 0 67px;
  }
}

.tours__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 54px;

  @include vp-1199 {
    margin: 0 0 37px;
  }

  @include vp-767 {
    margin: 0 0 28px;
  }
}

.tours__header h2 {
  position: relative;
  margin: 0;
  color: $color-granite;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-1199 {
    margin: 4px 0 0;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    content: "Ближайшие туры";
    min-width: 1200px;
    color: $color-granite-opacity3;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;

    @include vp-1199 {
      min-width: 678px;
      font-size: 40px;
      line-height: 40px;
    }

    @include vp-767 {
      min-width: 290px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.tours__swiper {
  margin: 0 0 51px;

  @include vp-1199 {
    padding: 0 6px;
  }

  @include vp-767 {
    padding: 0;
    margin: 0 0 28px;
  }
}

.tours__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tours__footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.tours__link {
  color: $color-default-project;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  @include hover-focus {
    color: $color-midnight-blue;

    & span {
      border-top: 3px solid $color-midnight-blue;
      border-right: 3px solid $color-midnight-blue;
    }
  }

  @include focus;

  @include active {
    color: $color-bright-blue;

    & span {
      border-top: 3px solid $color-bright-blue;
      border-right: 3px solid $color-bright-blue;
    }
  }

  @include disabled {
    color: $color-bright-blue-opacity10;

    & span {
      border-top: 3px solid $color-bright-blue-opacity10;
      border-right: 3px solid $color-bright-blue-opacity10;
    }
  }
}

.tours__link span {
  display: inline-flex;
  margin: 0 0 0 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border-top: 3px solid $color-default-project;
  border-right: 3px solid $color-default-project;
  transform: rotate(45deg);

  @include vp-1199 {
    margin: 0 0 0 6px;
  }

  @include vp-767 {
    margin: 0 0 0 5px;
  }
}
